body {
  margin: 0;
}
.search {
  box-sizing: border-box;
  max-width: 460px;
  padding: 0 30px;
  margin: 29px auto 2px;
}
.search-input {
  width: 100%;
  padding: 9px 13px;
  border: 2px solid #d5d5d5;
  font-size: 16px;
  color: #7f7f7f;
  border-radius: 5px;
}
.wrapper {
  max-width: 980px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -30px;
}
.gallery-item {
  padding: 30px;
  opacity: 1;
  transition: all .7s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.hide {
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.lightbox.visible {
  display: block;
}

.lightbox-figure {
  position: relative;
  left: 50%;
  max-width: 800px;
  height: 100%;
  transform: translateX(-50%);
  margin: 0;
}

.lightbox-img {
  position: absolute;
  top: 43.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table-cell;
  width: 100%;
  max-width: 800px;
  margin: auto;
  z-index: 99;
}
.lightbox-iframe-container {

  position: relative;
  top: 43.7%;
  transform: translateY(-50%);
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.lightbox-iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.lightbox-text {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-height: 10%;
  padding: 30px 15px 10%;
  background: rgba(50, 50, 50, 0.5);
  color: #fff;

  z-index: 99;
}
.lightbox-text p {
  max-width: 600px;
  margin: auto;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 2px;
}
.controller {
  box-sizing: border-box;
  position: absolute;
  top: 43.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0;
  z-index: 99;
}
.prev,
.next {
  display: inline-block;
  background-image: url(../img/icons/arrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 22px;
  padding: 20px;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 0;
  transform: rotateY(180deg);
}
.lightbox-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.95);
}
.lightbox-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
  color: white;
  z-index: 99;
  cursor: pointer;
}
.lightbox-close::after {
  content: url(../img/icons/close.png);
}

@media (min-width: 1024px) {

  .controller {
    width: 90%;
  }
  .lighbox-bg {
    background: transparent;
  }
}
